<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.TaskDao">
    <resultMap id="TaskResultMap" type="com.example.entity.Task">
        <result column="id" property="taskId"/>
        <result column="create_time" property="createTime"/>
        <result column="close_time" property="closeTime"/>
        <result column="content" property="content"/>
        <result column="is_accept" property="isAccept"/>
        <result column="is_accomplish_publisher" property="isAccomplishPublisher"/>
        <result column="is_accomplish_accepter" property="isAccomplishAccepter"/>
        <association property="publisher" column="publisher_id" javaType="com.example.entity.User" select="getUserById">
           <!-- <id column="id" property="userId" />
            <result column="username" property="username" />
            <result column="email" property="email" />
            <result column="phone" property="phone" />-->
        </association>
        <association property="accepter" column="accepter_id" javaType="com.example.entity.User" select="getUserById">
            <!--<id column="id" property="userId" />
            <result column="username" property="username" />
            <result column="email" property="email" />
            <result column="phone" property="phone" />-->
        </association>
        <collection property="discusses"  ofType="com.example.entity.Discuss" column="id" select="getDiscuss">
            <!--<id column="id" property="discussId" />
            <result column="create_time" property="createTime" />
            <result column="content" property="content" />-->
        </collection>
    </resultMap>



    <select id="getTaskById" parameterType="java.lang.Long" resultMap="TaskResultMap">
        SELECT * FROM task t WHERE  t.id = #{id}
    </select>
    <select id="listTaskAll" resultMap="TaskResultMap">
        SELECT * FROM task
    </select>
    <insert id="save" parameterType="com.example.entity.Task">
        INSERT INTO
        task
        (publisher_id,create_time,close_time,content,accepter_id,
        is_accept,is_accomplish_publisher,is_accomplish_accepter)
        VALUES
        (#{publisher.userId},#{createTime},#{closeTime},#{content},#{accepter.userId},
        #{isAccept},#{isAccomplishPublisher},#{isAccomplishAccepter})
    </insert>

    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM
          task
          WHERE id = #{id}
    </delete>

    <update id="updateTask" parameterType="com.example.entity.Task">
        UPDATE task
        SET
          content = #{content}
          WHERE id = {taskId}
    </update>




    <select id="getDiscuss" parameterType="java.lang.Long" resultMap="DiscussMap">
        SELECT * FROM  discuss d WHERE  d.task_id = #{id}
    </select>




    <select id="getUserById" parameterType="java.lang.Long" resultMap="userMap">
        SELECT
        *
        FROM
        user
        WHERE
        id = #{id}
    </select>

    <resultMap id="userMap" type="com.example.entity.User">
        <result column="id" property="userId"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="password" property="password"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="role" property="role"/>
    </resultMap>

    <resultMap id="DiscussMap" type="com.example.entity.Discuss">
        <id column="id" property="discussId" />
        <result  column="create_time" property="createTime" />
        <result  column="content" property="content" />
    </resultMap>

</mapper>